@layout.main("Register travel")("Add new scheduled travel") {
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card z-index-0">
                    <div class="card-header text-center pt-4">
                        <h5>Add new travel schedule</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" id="responseSuccess" style="display: none"></div>
                        <div class="alert alert-danger" id="responseFail" style="display: none"></div>
                        <form role="form text-left">
                            <div class="mb-3">
                                <select class="form-control" id="destination" aria-label="destination" aria-describedby="email-addon">
                                    <option>Select destination</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-control" id="driver" aria-label="driver" aria-describedby="driver-addon">
                                    <option>Select driver</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Plate number" id="bus_plate_no" aria-label="bus_plate_no" aria-describedby="email-addon">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Passenger limit" id="passenger_limit" aria-label="passenger_limit" aria-describedby="email-addon">
                            </div>
                            <div class="mb-3">
                                <input type="datetime-local" class="form-control" id="departure_date" aria-label="departure_date" aria-describedby="phone-addon">
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2" id="btnSave">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @commons.footer()
    </div>
    <script>
            window.addEventListener("DOMContentLoaded",function () {
                loadDestinations();
                loadDrivers();
                document.querySelector("#btnSave").onclick=()=>{
                    save();
                }
                function validateForm(obj){
                    const elFail = document.querySelector("#responseFail"),
                            elSuccess = document.querySelector("#responseSuccess");
                    const passengerLimitValidation = isNaN(obj.passenger_limit) || obj.passenger_limit<=0?{status:false,message:"Invalid passenger lmit"}:{status:true},
                            busPlateNo = obj.bus_plate_no.length<4?{status:false,message:"Invalid bus plate numer location"}:{status:true},
                            departureValidation = obj.departure_date<new Date().getTime()/1000?{status:false,message:"Invalid departure time"}:{status:true};

                    if(!departureValidation.status){
                        elFail.innerHTML=departureValidation.message;
                    }else if(!passengerLimitValidation.status){
                        elFail.innerHTML=passengerLimitValidation.message;
                    }else
                    if(!busPlateNo.status) {
                        elFail.innerHTML = busPlateNo.message;
                    }
                    if(elFail.innerHTML!==""){
                        elFail.style.display ='block';
                        elSuccess.style.display ='none';
                        clearResponse();
                        return false;
                    }
                    return true;
                }
                async function loadDestinations() {
                    var options = "<option value='0'>Select destination</option>";
                    var requestOptions = {
                        method: 'GET',
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization":`Bearer ${localStorage.getItem("token")}`
                        }
                    };
                    const data = await fetch(`${apiUrl}/destinations`, requestOptions)
                            .then(response => {
                                if(response.status===401) {localStorage.clear(); window.location='/login'};
                                return response.json();
                            })
                            .then(result => result)
                            .catch(error => console.log('error', error));
                    for(let i=0;i<data.length;i++){
                        options+=`<option value="${data[i].id}">${data[i].departure}-${data[i].arrival}</option>`;
                    }
                    document.querySelector("#destination").innerHTML = options;

                }
                async function loadDrivers() {
                    var options = "<option value='0'>Select drivers</option>";
                    var requestOptions = {
                        method: 'GET',
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization":`Bearer ${localStorage.getItem("token")}`
                        }
                    };
                    const data = await fetch(`${apiUrl}/users/type?user_type=driver`, requestOptions)
                            .then(response => {
                                if(response.status===401) {localStorage.clear(); window.location='/login'};
                                return response.json();
                            })
                            .then(result => result)
                            .catch(error => console.log('error', error));
                    for(let i=0;i<data.length;i++){
                        options+=`<option value="${data[i].id}">${data[i].name} (${data[i].phone})</option>`;
                    }
                    document.querySelector("#driver").innerHTML = options;

                }

                async function save() {
                    const elFail = document.querySelector("#responseFail"),
                            elSuccess = document.querySelector("#responseSuccess");
                    const data = {
                        destination: document.querySelector("#destination").value,
                        driver: document.querySelector("#driver").value,
                        bus_plate_no: document.querySelector("#bus_plate_no").value,
                        passenger_limit: document.querySelector("#passenger_limit").value,
                        departure_date: new Date(document.querySelector("#departure_date").value).getTime()/1000,
                    }
                    console.log(validateForm(data));
                    if(!validateForm(data)) return;
                    var requestOptions = {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization":`Bearer ${localStorage.getItem("token")}`
                        }
                    };
                    const res = await fetch(`${apiUrl}/schedule`, requestOptions)
                            .then(response => response.json())
                            .then(result => result)
                            .catch(error => console.log('error', error));
                    if (res.status) {
                        elSuccess.setAttribute("style","display:block");
                        elFail.setAttribute("style","display:none");
                        elSuccess.innerHTML = res.message;
                        document.querySelector("#bus_plate_no").value="";
                        document.querySelector("#passenger_limit").value="";
                        document.querySelector("#departure_date").value="";
                    } else {
                        elFail.setAttribute("style", "display:block");
                        elSuccess.setAttribute("style", "display:none");
                        elFail.innerHTML = res.message;
                    }
                }

            })
    </script>

}