@layout.main("Register new station")("New station") {
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card z-index-0">
                    <div class="card-header text-center pt-4">
                        <h5>New station</h5>
                    </div>
                    <div class="card-body">

                        <div class="alert alert-success" id="responseSuccess" style="display: none"></div>
                        <div class="alert alert-danger" id="responseFail" style="display: none"></div>
                        <form role="form text-left">
                            <div class="mb-3">
                                <select class="form-control" id="destination" aria-label="destination" aria-describedby="email-addon">
                                    <option>Select destination</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Station name" id="name" aria-label="name" aria-describedby="email-addon">
                            </div>
                            <div class="mb-3">
                                <select class="form-control" id="previous" aria-label="previous" aria-describedby="email-addon">
                                    <option>Select previous station</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2" id="btnSave">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @commons.footer()
    </div>
    <script>
            window.addEventListener("DOMContentLoaded",function () {
                loadDestinations();

                document.querySelector("#destination").onchange=()=>{
                    loadStations(document.querySelector("#destination").value);
                }
                document.querySelector("#btnSave").onclick=()=>{
                    save();
                }
                async function loadDestinations() {
                    var options = "<option value='0'>Select destination</option>";
                    var requestOptions = {
                        method: 'GET',
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization":`Bearer ${localStorage.getItem("token")}`
                        }
                    };
                    const data = await fetch(`${apiUrl}/destinations`, requestOptions)
                            .then(response => {
                                if(response.status===401) {localStorage.clear(); window.location='/login'};
                                return response.json();
                            })
                            .then(result => result)
                            .catch(error => console.log('error', error));
                    for(let i=0;i<data.length;i++){
                        options+=`<option value="${data[i].id}">${data[i].departure}-${data[i].arrival}</option>`;
                    }
                    document.querySelector("#destination").innerHTML = options;

                }
                async function loadStations(destinationId) {
                    var options = "<option value='0'>Select previous station</option>";
                    var requestOptions = {
                        method: 'GET',
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization":`Bearer ${localStorage.getItem("token")}`
                        }
                    };
                    const data = await fetch(`${apiUrl}/destination/${destinationId}/stations`, requestOptions)
                            .then(response => response.json())
                            .then(result => result)
                            .catch(error => console.log('error', error));
                    for(let i=0;i<data.length;i++){
                        options+=`<option value="${data[i].id}">${data[i].name}</option>`;
                    }
                    document.querySelector("#previous").innerHTML = options;
                }

                function validateForm(obj){
                    const elFail = document.querySelector("#responseFail"),
                            elSuccess = document.querySelector("#responseSuccess");
                    const nameValidation = obj.name.length<2?{status:false,message:"Invalid station name"}:{status:true},
                            destinationValidation = obj.destination.length<=0?{status:false,message:"Select destination is mandatory"}:{status:true};

                    if(!nameValidation.status){
                        elFail.innerHTML=nameValidation.message;
                    }else if(!destinationValidation.status){
                        elFail.innerHTML=destinationValidation.message;
                    }
                    if(elFail.innerHTML!==""){
                        elFail.style.display ='block';
                        elSuccess.style.display ='none';
                        clearResponse();
                        return false;
                    }
                    return true;
                }

                async function save() {
                    const elFail = document.querySelector("#responseFail"),
                            elSuccess = document.querySelector("#responseSuccess");
                    const data = {
                        destination: document.querySelector("#destination").value,
                        name: document.querySelector("#name").value,
                    }
                    if(document.querySelector("#previous")!=='0'){
                        data.previous = document.querySelector("#previous").value;
                    }
                    if(!validateForm(data)) return;
                    var requestOptions = {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization":`Bearer ${localStorage.getItem("token")}`
                        }
                    };
                    const res = await fetch(`${apiUrl}/station`, requestOptions)
                            .then(response => response.json())
                            .then(result => result)
                            .catch(error => console.log('error', error));
                    if (res.status) {
                        elSuccess.setAttribute("style","display:block");
                        elFail.setAttribute("style","display:none");
                        elSuccess.innerHTML = res.message;
                        document.querySelector("#name").value="";
                    } else {
                        elFail.setAttribute("style", "display:block");
                        elSuccess.setAttribute("style", "display:none");
                        elFail.innerHTML = res.message;
                    }
                }

            })
    </script>

}